USE [SuperMarket-db]
GO
Object:  StoredProcedure [dbo].[add_customer]    Date: 11/28/2025 10:21:57 م 



CREATE proc [dbo].[add_customer]
@first_name varchar(25),
@last_name varchar(25),
@tel nchar(10),
@email varchar(25),
@customer_image image = null
as


INSERT INTO [Customer]
           ([first_name]
           ,[last_name]
           ,[tel]
           ,[email]
           ,[customer_image])
     VALUES
           (@first_name,
            @last_name,
            @tel, 
            @email, 
            @customer_image)






create proc [dbo].[add_order]
@id_order int ,
@date_order datetime,
@customer_id int,
@description_order varchar(250),
@salesMan varchar(75)
as

INSERT INTO [dbo].[orders]
           ([id_order]
           ,[date_order]
           ,[customer_id]
           ,[description_order]
           ,[salesMan])
     VALUES
           (@id_order
           ,@date_order
           ,@customer_id
           ,@description_order
           ,@salesMan  )



GO


CREATE proc [dbo].[add_order_details]
 @Id_product varchar(30),
 @id_order int,
 @qte int,
 @order_price varchar(50),
 @Amount varchar(50),
 @discount float,
 @Total_amount varchar(50)
 as

INSERT INTO order_details
           ([Id_product]
           ,[id_order]
           ,[qte]
           ,[order_price]
           ,[discount]
           ,[Amount]
           ,[Total_amount])
     VALUES
         ( @Id_product,
           @id_order,
           @qte, 
           @order_price, 
           @discount,
           @Amount, 
           @Total_amount  )

update Product 
set qte_in_stock = qte_in_stock-@qte
where  id_product = @Id_product


 



CREATE proc [dbo].[add_product]

@id_cat int,
@Id_product varchar(30),
@label_product varchar(30),
@qte_in_stock int,
@price varchar(20),
@Image_product Image = null
as
Insert into [Product] (
[id_cat],
[id_product],
[label_product]
,[qte_in_stock],
[price],
[Image_product]   )
Values (@id_cat,
@Id_product,
@label_product,
@qte_in_stock,
@price,
@Image_product)


CREATE proc [dbo].[add_user]
@Id varchar(50) ,
@pwd varchar(50) ,
@Full_name varchar(50),
@UserType varchar(50) 
 

as 
INSERT INTO [User]
           ([Id]
           ,[pwd]
           ,[UserType]
           ,[Full_name])
     VALUES
           (@Id
           ,@pwd
           ,@UserType
           ,@Full_name)




create proc [dbo].[delete_customer] 
@id int
as
delete from Customer
where [id-customer] = @id



CREATE proc [dbo].[delete_product]
@Id varchar(30)
as
delete from Product
where id_product = @Id




create proc [dbo].[delete_user]
@Id varchar(50)
as

Delete from [User]
where Id = @Id



 

create proc [dbo].[get_All_cateogries] 
as
select * from Category

CREATE proc [dbo].[get_All_customers]
as

SELECT [id-customer] 
      ,[first_name] 'الإسم الأول'
      ,[last_name]'اللقب'
      ,[tel]'رقم الهاتف '
      ,[email]'البريد الإلكتروني'
	   ,customer_image

  FROM [dbo].[Customer]

 

CREATE proc [dbo].[get_All_product]
as
SELECT [id_product] as [معرف المنتج]
      ,[label_product] as [معلومات المنتج]
      ,[qte_in_stock] as [الكمية]
      ,[price] as [السعر]
      ,[DESCRPITION-CAT] as [نوع المنتج]
  FROM [dbo].[Product]
  Inner join Category
  on Category.[ID-CAT] = Product.id_cat


 

create proc [dbo].[get_last_order_for_print]
as
select isnull (max(id_order),0) from orders




CREATE proc [dbo].[get_last_order_id]
as
select isnull (max(id_order)+1,1) from orders


CREATE proc [dbo].[get_order_details]
@id_order int
as
SELECT Product.[Id_product] as 'معرف المنتج'
     , Product.[label_product] as 'إسم المنتج'
      ,order_details.[id_order] as 'رقم الفاتورة'
      ,[qte] as 'الكمية'
      ,Convert(float,[order_price]) as 'السعر'
      ,Convert(float,[discount]) as 'الخصم'
      ,Convert(float,[Amount]) as 'المبلغ'
      ,Convert(float,[Total_amount]) as 'الإجمالي'
	  ,[date_order]as 'تاريخ الفاتورة'
	  ,[description_order] as 'وصف الفاتورة'
	  ,[salesMan] as 'إسم البائع'
	  ,[customer_id]  as 'معرف العميل'
	  ,[first_name]+''+[last_name] as 'إسم العميل'
	  ,[tel] as 'رقم الهاتف'
	  ,[email] as 'البريد الإلكتروني'
	  
  FROM order_details 
  inner join orders
  on orders.id_order = order_details.id_order
  inner join Customer
  on Customer.[id-customer] = orders.customer_id
  inner join Product
  on Product.id_product = order_details.Id_product

 where order_details.id_order = @id_order



 

CREATE proc [dbo].[get_order_details_for_print]

as
SELECT Product.[Id_product] as 'معرف المنتج'
      , Product.[label_product] as 'إسم المنتج'
      ,order_details.[id_order] as 'رقم الفاتورة'
      ,[qte] as 'الكمية'
      ,Convert(float,[order_price]) as 'السعر'
      ,[discount]as 'الخصم'
      ,Convert(float,[Amount]) as 'المبلغ'
      ,Convert(float,[Total_amount]) as 'الإجمالي'
	  ,[date_order]as 'تاريخ الفاتورة'
	  ,[description_order] as 'وصف الفاتورة'
	  ,[salesMan] as 'إسم البائع'
	  ,[customer_id]  as 'معرف العميل'
	  ,[first_name]+''+[last_name] as 'إسم العميل'
	  ,[tel] as 'رقم الهاتف'
	  ,[email] as 'البريد الإلكتروني'
	  
  FROM order_details 
  inner join orders
  on orders.id_order = order_details.id_order
  inner join Customer
  on Customer.[id-customer] = orders.customer_id
  inner join Product
  on Product.id_product = order_details.Id_product


 

create proc [dbo].[get_product_Image] 
@id varchar(30)
as 
select Image_product from Product
where id_product = @id


 

create proc [dbo].[get_single_category]
@Id int
as
select [ID-CAT] , [DESCRPITION-CAT] from Category
where [ID-CAT] = @Id




create proc [dbo].[get_single_product]
@Id varchar(30)
as
SELECT [id_product]
      ,[label_product]
      ,[qte_in_stock]
      ,[price]
      ,[Image_product]
      ,[DESCRPITION-CAT]
  FROM Product
  inner join Category
  on  Category.[ID-CAT]= Product.id_cat
  where id_product = @Id





create proc [dbo].[search_customer]
@text_search varchar(50)
as
SELECT [id-customer] 
      ,[first_name] 'الإسم الأول'
      ,[last_name]'اللقب'
      ,[tel]'رقم الهاتف '
      ,[email]'البريد الإلكتروني'
	   ,customer_image
  FROM [dbo].[Customer]
  where 
  [first_name] +
  [last_name]+
  [tel] +
  [email]
  Like '%'+@text_search+'%'


 

CREATE proc [dbo].[search_order]
@search_text varchar(50)
as

SELECT [id_order] as 'رقم الفاتورة'
 ,[first_name]+'' +[last_name] as 'إسم العميل'
      ,[salesMan] as'إسم البائع'
      ,[date_order] as 'تاريخ الفاتورة'   	 
	  ,[description_order] as'وصف الفاتورة'
  FROM [dbo].[orders]
   inner join Customer 
   on Customer.[id-customer] = orders.customer_id
   where Convert (varchar , id_order) + Convert (varchar , date_order) + first_name
   +last_name + description_order + salesMan like '%'+@search_text+'%'





create proc [dbo].[search_Product]
@Id varchar  (30)
as
SELECT [id_product] as [معرف المنتج]
      ,[label_product] as [معلومات المنتج]
      ,[qte_in_stock] as [الكمية]
      ,[price] as [السعر]
      ,[DESCRPITION-CAT] as [نوع المنتج]
  FROM [dbo].[Product]
  Inner join Category
  on Category.[ID-CAT] = Product.id_cat
  where 
  [id_product] +
  [label_product]+
 Convert(varchar, [qte_in_stock] )+
  [price]+
  [DESCRPITION-CAT]
  Like '%'+@Id+'%'



create proc [dbo].[search_user]
@search_text varchar(50)
as


SELECT [Id] as'إسم المستخدم'
      ,[pwd] as'كلمة المرور'
      ,[UserType] as'نوع المستخدم'
      ,[Full_name] as'الإسم الكامل'
  FROM [dbo].[User] 
  where Id + pwd + UserType + Full_name like '%'+@search_text+'%'



Create proc [dbo].[sp_Login]
@ID varchar(50) , @PWD varchar(50) 

As
select * from [User] 
Where Id=@ID  And pwd =@PWD


 


create proc [dbo].[update_customer]
@first_name varchar(25),
@last_name varchar(25),
@tel nchar(10),
@email varchar(25),
@customer_image image = null,
@id int 
as


UPDATE [dbo].[Customer]
   SET [first_name] = @first_name
      ,[last_name] = @last_name
      ,[tel] = @tel
      ,[email] = @email
      ,[customer_image] = @customer_image
 WHERE [id-customer] = @Id






create proc [dbo].[update_product] 
@id_cat int,
@Id_product varchar(30),
@label_product varchar(30),
@qte_in_stock int,
@price varchar(20),
@Image_product Image = null
as begin
Update Product
set
[id_cat] = @id_cat,
[id_product] = @Id_product,
label_product = @label_product,
qte_in_stock =@qte_in_stock ,
price = @price,
Image_product= @Image_product
where [id_product] = @Id_product
END;

 

CREATE proc [dbo].[update_user]
@Id varchar(50) ,
@pwd varchar(50) ,
@Full_name varchar(50) ,
@UserType varchar(50) 

as 

UPDATE [dbo].[User]
   SET [Id] = @Id
      ,[pwd] = @pwd
      ,[UserType] = @UserType
      ,[Full_name] = @Full_name
 WHERE Id = @Id


 

create proc [dbo].[VarifyProductId]
@Id varchar(30)
as
select * from Product 
where id_product = @Id 




create proc [dbo].[verify_qte]
@id_product varchar(30) ,
@qte_entered int 
as
select * from Product	
where  id_product =  @id_product and qte_in_stock >= @qte_entered

