USE [SuperMarket-db]



 

CREATE TABLE [dbo].[Category](
	[ID-CAT] [int] NOT NULL,
	[DESCRPITION-CAT] [varchar](25) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID-CAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]




CREATE TABLE [dbo].[Customer](
	[id-customer] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](25) NULL,
	[last_name] [varchar](25) NULL,
	[tel] [nchar](10) NULL,
	[email] [varchar](25) NULL,
	[customer_image] [image] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[id-customer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]



 

CREATE TABLE [dbo].[order_details](
	[Id_product] [varchar](30) NOT NULL,
	[id_order] [int] NOT NULL,
	[qte] [int] NULL,
	[order_price] [varchar](50) NULL,
	[discount] [float] NULL,
	[Amount] [varchar](50) NULL,
	[Total_amount] [varchar](50) NULL
) ON [PRIMARY]



 

CREATE TABLE [dbo].[orders](
	[id_order] [int] NOT NULL,
	[date_order] [datetime] NULL,
	[customer_id] [int] NOT NULL,
	[description_order] [varchar](250) NULL,
	[salesMan] [varchar](75) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[id_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]


 

CREATE TABLE [dbo].[Product](
	[id_product] [varchar](30) NOT NULL,
	[label_product] [varchar](30) NOT NULL,
	[qte_in_stock] [int] NULL,
	[price] [varchar](20) NULL,
	[Image_product] [image] NULL,
	[id_cat] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[id_product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]


 

CREATE TABLE [dbo].[User](
	[Id] [varchar](50) NOT NULL,
	[pwd] [varchar](50) NULL,
	[UserType] [varchar](50) NULL,
	[Full_name] [varchar](30) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FK_order-details_Order] FOREIGN KEY([id_order])
REFERENCES [dbo].[orders] ([id_order])
ON UPDATE CASCADE
ON DELETE CASCADE

ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK_order-details_Order]


ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FK_order-details_Product] FOREIGN KEY([Id_product])
REFERENCES [dbo].[Product] ([id_product])
ON UPDATE CASCADE
ON DELETE CASCADE

ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK_order-details_Product]


ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([id-customer])
ON UPDATE CASCADE
ON DELETE CASCADE



ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_Order_Customer]

ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([id_cat])
REFERENCES [dbo].[Category] ([ID-CAT])
ON UPDATE CASCADE
ON DELETE CASCADE

ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]


